<%- contentFor('styles') %>
<!-- Styles -->

<%- contentFor('body') %>

<h1 class="text-center">500 Internal Server Error!</h1>

<!-- body content end -->

<%- contentFor('scripts') %>
<!-- Scripts -->
